.cover {
  background: #201F20 !important;
}

.cover-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.cover-main h1 { 
  color: white !important;
  font-size: 2rem !important;
}

.cover-main p {
  text-align: center;
  display: flex;
  justify-content: center;
}

.cover-main p img {
  width: 16rem;
  height: 16rem;
  margin-top: 4rem;
}